version: '3.7'

services:
  pg_db:
    container_name: pg_db
    image: postgres:latest
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
    ports:
      - 5432:5432

  cache:
    image: "redis:alpine"
    ports:
      - 6379:6379

  app:
    build:
      context: .
      dockerfile: ./src/Dockerfile
    volumes:
      - ./src:/app
      - ./settings.toml:/app/settings.toml
      - ./pyproject.toml:/app/pyproject.toml
    environment:
      - DOCKER_DB_SETTINGS__DB_HOST=pg_db
      - DOCKER_CACHE_SETTINGS__CACHE_HOST=pg_db

    ports:
      - 8000:8000
  
  migration:
    build:
      context: . 
      dockerfile: ./Dockerfile_migration
    environment:
      - DOCKER_DB_SETTINGS__DB_HOST=pg_db
      - DOCKER_CACHE_SETTINGS__CACHE_HOST=pg_db

  nginx:
    image: nginx:1.21.0-alpine
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./nginx/proxi_params:/etc/nginx/proxy_params
    ports:
      - 80:80
  



volumes:
  postgres_data:

# run --name pg_test -p 5432:5432 -e POSTGRES_PASSWORD=postgres -d postgres:latest 
